.animate__animated.animate__delay-1 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-delay: calc(var(--animate-delay) * 0.4);
    animation-delay: calc(var(--animate-delay) * 0.4)
}

.animate__animated.animate__delay-2 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-delay: calc(var(--animate-delay) * 0.8);
    animation-delay: calc(var(--animate-delay) * 0.8)
}

.animate__animated.animate__delay-3 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-delay: calc(var(--animate-delay) * 1.2);
    animation-delay: calc(var(--animate-delay) * 1.2)
}

.animate__animated.animate__delay-4 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-delay: calc(var(--animate-delay) * 1.6);
    animation-delay: calc(var(--animate-delay) * 1.6)
}

.animate__animated.animate__delay-5 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-delay: calc(var(--animate-delay) * 2);
    animation-delay: calc(var(--animate-delay) * 2)
}